img.profile {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  margin: 20px;
  border-style: double;
}

.team {
  width: 60px;
  height: 60px;
}